{% extends "layout.html" %}

{% block title %} Index {% endblock %}

{% block main %}
<table class="table table-borderless table-striped">
  <thead class="thead-light"></thead>
  <tr>
    <th>Symbol</th>
    <th>Shares</th>
    <th>Price</th>
    <th><b>TOTAL</b></th>
  </tr>
  <tbody class="table-bordered">
    {% for stock in stocks %}
    <tr>
      <td>{{ stock.symbol }}</td>
      <td>{{ stock.total_shares }}</td>
      <td>{{ stock.price | usd }}</td>
      <td>{{ stock.value | usd }}</td>
    </tr>
    {% endfor %}
    <tr>
      <td colspan="3" align="right"><b>Cash</b></td>
      <td>{{ cash | usd }}</td>
    </tr>
    <tr>
      <td colspan="3" align="right"><b>TOTAL</b></td>
      <td>{{ total_value | usd }}</td>
    </tr>
  </tbody>
</table>
{% endblock %}