{% extends "layout.html" %}

{% block title %} Quote {% endblock %}

{% block main %}
<form action="/quote" method="post">
  <div class="mb-3">
    {% if quote %}
    <h3>{{ quote['symbol'] }}</h3>
    <p>Price: {{ quote['price'] | usd }}</p>
    {% endif %}
  </div>
  <div class="mb-3">
    <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="symbol" placeholder="Symbol"
      type="text" pattern="[a-zA-Z]*" required>
  </div>
  <button class="btn btn-primary" type="submit">Submit</button>
</form>
{% endblock %}