{% extends "layout.html" %}

{% block title %} Sell {% endblock %}

{% block main %}

<form action="/sell" method="post">

  <div style="margin-bottom: 1.5em; width: 25%; margin-left: auto; margin-right: auto;">
    <select name="symbol" class="form-select" id="floatingSelect" aria-label="Floating label select example">
      {% for stock in stocks %}
      <option>{{ stock.symbol }}</option>
      {% endfor %}
    </select>
  </div>


  <div class="mb-3">
    <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="shares" placeholder="Shares"
      type="number" required>
  </div>

  <button class="btn btn-primary" type="submit">Submit</button>
</form>

{% endblock %}