body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    text-align: center;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.image img {
    max-width: 100%;
}

main {
    max-width: 600px;
    margin: 0 auto;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
}

.video {
    position: absolute;
    left: 0;
    height: 100%;
}