* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
}

html {
    height: 100%;
}

body {
    height: 100%;
    font-size: 16px;
}

.responsive {
    width: 100%;
    height: auto;
}

.round {
    border-radius: 50%;
}

.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.container {
    margin-top: 10vh;
    border: 1px solid black;
}

#banner {
    
    object-fit: cover;
    object-position: 100% 50%;
    max-height: 48vh;
}

#profile {
    display: inline;
    max-height: 26vh;
    position: absolute;
    left: 10vh;
}

#name {
    position: absolute;
    left: 40vh;
}



@media screen and (max-width: 265px) {
    #profile {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

/* If the screen size is 428px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 428px) {
    #profile {
        max-height: 10vh;
        position: absolute;
        left: 50%;
        top: 25%;
        transform: translate(-50%, -50%);
    }
    #name {
        position: absolute;
        left: 50%;
        top: 33%;
        transform: translate(-50%, -50%);
    }
}