{
    box-sizing: border-box;
    /* Google Fonts */
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}

/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Macondo&family=Roboto:wght@300&display=swap');

:root {
    --main-color: #fd4646;
    --text-color: #171427;
    --bg-color: #fff;
}

img {
    width: 100%
}

/* Html and Body */
html, body {
    color: var(--text-color);
    background-color: rgba(255, 188, 151, 1 );
    background-size: 100% 130%;
    background-position: 50% 50%;
    background-attachment: fixed;
}

.welcome {
    font-family: 'Oswald', sans-serif;
}

.info {
    font-family: 'Macondo', cursive;
    font-family: 'Roboto', sans-serif;
}
/*Header*/
.header {
    color: white;
    background-color: #353839;
    text-align: center;
    margin-top: -20px;
    border: none;
    block-size: 10px;
}
/*Shopping Cart*/
.container {
    max-width: 1068px;
    margin: auto;
    width: 100%;
}

.section {
    padding: 4rem 0 3rem;
}

.header2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--bg-color);
    box-shadow: 0 1px 4px hsl(0 4% 15% / 10%) z-index 100;
}

.nav2 {
    color: white;
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.logo {
    font-size: 1.1rem;
    color: var(--text-color);
    font-weight: 400;
}

#cart-icon {
    font-size: 1.8rem;
    cursor: pointer;
}
/* Cart */
.cart {
    position: fixed;
    top: 0;
    right: -100%;
    width: 360px;
    min-height: 100vh;
    padding: 20px;
    background: var(--bg-color);
    box-shadow: -2px 0 4px hsl(0 4% 15% / 10%);
    transition: 0.3s;
}

    .cart.active {
        right: 0;
    }

.cart-title {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 2rem;
}

.cart-box {
    display: grid;
    grid-template-columns: 35% 50% 18%;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.cart-img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    padding: 10px;
}

.detail-box {
    display: grid;
    row-gap: 0.5rem;
}

.cart-product-title {
    font-size: 1rem;
    text-transform: uppercase;
}

.cart-price {
    font-weight: 500;
}

.cart-quantity {
    border: 1px solid var(--text-color);
    outline-color: var(--main-color);
    width: 2.4rem;
    text-align: center;
    font-size: 1rem;
}

.cart-remove {
    font-size: 24px;
    color: var(--main-color);
    cursor: pointer;
}

.total {
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
    border-top: 1px solid var(--text-color);
}

.total-title {
    font-size: 1rem;
    font-weight: 600;
}

.total-price {
    margin-left: 0.5rem;
}

.btn-buy {
    display: flex;
    margin: 1.5rem auto 0 auto;
    padding: 12px 20px;
    border: none;
    background: var(--main-color);
    color: var(--bg-color);
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}

    .btn-buy:hover {
        background: var(--text-color);
    }

#close-cart {
    position: absolute;
    top: 1rem;
    right: 0.8rem;
    font-size: 2rem;
    color: var(--text-color);
    cursor: pointer;
}

.section-title {
    font-family: 'Oswald', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 1.5rem;
}

.shop {
    margin-top: 2rem;
}

.shop-content {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(220px,auto));
    gap: 1.5;
}

.product-box {
    position: relative;
    margin: auto;
    padding: 10px;
    border: 1px solid var(--text-color);
}

    .product-box:hover {
        padding: 10px;
        border: 1px solid var(--text-color);
        transition: 0.4s;
        background: url('images/blossom.gif');
        background-color: #ff9966;
    }

.product-img {
    max-height: auto;
    margin-bottom: 0.01rem;
    margin-right: 10px;
    border: 1px;
    float: left;
    max-width: 34.33%;
    padding: 5px;
}

.product-title {
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}

.price {
    font-weight: 500;
}

.add-cart {
    position: absolute;
    bottom: 0;
    right: 0;
    background: var(--text-color);
    color: var(--bg-color);
    padding: 10px;
    cursor: pointer;
}

    .add-cart:hover {
        background: hsl(249, 32%, 17%)
    }
/*Header blossoms*/
.header:hover {
    background-image: url('images/blossom.gif');
}

/*Navigation*/
.nav {
    background: #353839;
    line-height: 40px;
}

/* Content */
.content {
    padding: 16px;
    text-align: center;
    color: white;
    background-color: rgba(181, 128, 122, 0.6);
    margin-left: 240px;
    margin-right: 240px;
    border-radius: 10px;
}
    /* Content Image */
    .content img {
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 5px;
        width: 150px;
        height: 150px;
    }
        /* content img on hover magnify */
        .content img:hover {
            transform: scale(1.25);
            transition: 0.5s;
        }
/* stick to top */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
    /*adding them up*/
    .sticky + .content {
        padding-top: 102px;
    }
/* Lorem Ipsum */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
/* Lorem Ipsum */
li {
    float: left;
}
    /* Lorem Ipsum */
    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
        /* Lorem Ipsum */
        li a:hover {
            background-color: #696969;
        }
/* Lorem Ipsum */
.active {
    background-color: #696969;
    object-fit: cover;
    object-position: 50% 50%;
}
/* Images side by side */
.row {
    display: flex;
}

/* Create three equal columns that sits next to each other */
.column {
    flex: 33.33%;
    padding: 5px;
}

/* Breakpoints / Making Responsive */
@media (max-width: 1080) {
    .nav {
        padding: 15px
    }

    section {
        padding: 3rem 0 2rem;
    }

    .container {
        margin: 0 auto;
        width: 90%;
    }

    .shop {
        margin-top: 2rem !important;
    }
}

@media (max-width: 400px) {
    .nav {
        padding: 11px;
    }

    .logo {
        font-size: 1rem;
    }

    .cart {
        width: 320px;
    }
}

@media (max-width: 360px) {
    .shop {
        margin-top: 1rem !important;
    }
}

.cart {
    width: 280px;
}

.home-img {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
}
